# Виртуальное окружение
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
*.log
db.sqlite3
media/
staticfiles/

# Переменные окружения
.env

# IDE
.idea/
.vscode/
*.iml

# Celery
celerybeat-schedule
celerybeat.pid

# OS
.DS_Store
Thumbs.db